body{
    text-align: center;
    background: linear-gradient(cyan 0%,red 100%);
}
img{
    width: 550px;
    border-radius: 500px;
}
h1{
    font-size: 70px;
    font-family: cursive;
    color: blue;
    background-color: 00ffff;
}
h3{
 font-size: 40px;
    font-family: cursive;
     color: blue;
    background-color: 00ffff;
}